
body {
    margin: 0;
}


:root {
    --cor-principal: #029eff;
    
}

.corfundoHeader {
 background-color: var(--cor-principal);
 width: 100%;
}

.rodape {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}


@media (min-width: 768px) {
    .rodape {
        grid-template-columns: repeat(4, 1fr);
    }
} 
